{% extends '_layouts/cp.twig' %}
{#{% import '_includes/forms.twig' as forms %}#}

{% set title = 'Edit Book'|t('Librivox') %}
{#{% set fullPageForm = true %}#}

{% block content %}


    <p>You're on the edit book page!</p>

{% endblock %}